.container {
  padding: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #222;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.7rem;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  p {
    font-size: 1.6rem;
    margin: 5px 0;
  }

  .section-content {
    padding: 10px 0;

    // ✅ 순서 있는 리스트: 숫자 보이게
    ol {
      list-style-type: decimal; // override 전역 스타일
      padding-left: 20px;
      margin-bottom: 20px;

      li {
        margin-bottom: 6px;
        font-size: 1.6rem;
        margin: 5px 0;
        // 중첩된 ul이 안 나올 경우 추가
        ul {
          padding-left: 20px;
          margin-top: 6px;

          li {
            margin-bottom: 4px;
          }
        }
      }
    }

    // ✅ 순서 없는 리스트: 동그라미 보이게
    ul {
      padding-left: 20px;
      margin-bottom: 20px;

      li {
        margin-bottom: 6px;
        font-size: 1.6rem;
        margin: 5px 0;
      }
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    strong {
      font-weight: bold;
    }
  }
}
